@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iransans";
  src: url("/fonts/Vazirmatn-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh !important;
  box-sizing: border-box;
}

#root {
  height: 100%;
  user-select: none;
  /* overflow: hidden; */
}

.modal-overlay-class {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add this CSS to your styles */
@keyframes flashing {
  0% {
    filter: brightness(80%);
  }
  50% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(80%);
  }
}

.flashing {
  animation: flashing 1s infinite;
}
